{% extends "AppRodriguezFinal/base.html" %}

{% load static %}

{% block principal %}

<p> Mi nombre es Daniel Rodriguez estudiande de Coderhouse.</p>
 Tengo 32 años soy de Miontevideo, Uruguay.</p>
 Cocinero profecional.</p>
Empeze a estudiar programacion para trabajar de eso y en un futuro poder tener mi propio negocio de eventos que es lo que realmente me gusta.</p>
Esta es mi entrega final que es sobre una blog para agregar recetas y las personas que son amate de la cocina pueda comprtir sus recetas y/o adquirir nuevos conocimientos.


{% endblock %}