<!doctype html>
<html lang="en">
  
{% load static %}

  <head>
    <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
   
    <title>Recetas</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'AppRodriguezFinal/assets/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'AppRodriguezFinal/assets/css/cover.css' %}" rel="stylesheet">
    <link href="{% static 'AppRodriguezFinal/assets/css/carousel.css' %}" rel="stylesheet">
  </head> 

  <body class="text-center">
    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">
          <img src="{% static 'AppRodriguezFinal/assets/imagenes/logo.png' %}" alt="centered image" height="50" width="100">
          <nav class="nav nav-masthead justify-content-center">
            <a class="nav-link active" href="{% url 'index' %}">Inicio</a>
            <a class="nav-link active" href="{% url 'receta_list' %}">Ver todas las recetas</a>
            
            {% if user.is_authenticated %}
            
                <a class="nav-link active" href="{% url 'receta_mine' %}">Mis recetas</a>
            
                <a class="nav-link active" href="{% url 'receta_create' %}">Agregar receta</a>

              
                  <a class="nav-link active" href="{% url 'mensaje_create' %}"> Enviar Mensajes</a>
              

              {% if user.profile %}
            
                <a class="nav-link active" href="{% url 'profile_update' user.profile.id %}">Actualizar Perfil</a>
            
              {% else %}
            
                <a class="nav-link active" href="{% url 'profile_create' %}">Crear Perfil</a>
            
              {% endif %}

            
              <a class="nav-link active" href="{% url 'mensaje_list' %}">Mensajes</a>
            

              {%if user.profile.avatar_url %}
              <img src="{{user.profile.avatar_url}}" height="100%" width="64px">
              {% else %}
              {% endif %}
              <a class="nav-link active" href="{% url 'logout' %}">{{ user.username }} | Salir</a>
            
              {% else %}
              <a class="nav-link active" href="{% url 'signup' %}">Registrarse</a>
              <a class="nav-link active" href="{% url 'login' %}">Ingresar</a>
            
            {% endif %}
              <li class="nav-item">            
              <form action="{% url 'receta_search' %}" class="d-flex">
                <input class="form-control me-2" name="criterio" type="search" placeholder="Buscar receta" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Buscar</button>
              </form>
            </li>
            </a>
          </nav>
        </div>
      </header>

{% block principal %}
{% endblock %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'AppRodriguezFinal/assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'AppRodriguezFinal/assets/js/bootstrap.min.js' %}"></script>
  </body>
</html>