{% extends "AppRodriguezFinal/base.html" %}
{% load static %}

{% block principal %}
<main>
    
    <center><img src="{% static 'AppRodriguezFinal/assets/imagenes/descarga.jpg' %}" alt="centered image" height="400" width="700"> </center>
</br> 
  <link href="{% static 'AppRodriguezFinal/assets/css/carousel.css' %}" rel="stylesheet">
<div class="container marketing">
  <div calss="row">
    <div class="col-lg-4">
  {% for receta in recetas %}
  <link href="{% static 'AppRodriguezFinal/assets/css/carousel.css' %}" rel="stylesheet">
<div class="container marketing">
  <div calss="row">
    <div class="col-lg-4">
          <img class="rounded_circle" src="{{receta.image_url}}" height="144" width="144">
          <h2>{{receta.Nombre_de_receta}}</h2>
          <p>{{receta.Preparacion}}</p>
          <p><a class="btn btn-secondary" href="{%url 'receta_detail' receta.id %}">Detalle »</a></p>
        </div><!-- /.col-lg-4 -->
      </div>
    </div>
    
    {% endfor %} 
  
</main>

<footer class="mastfoot mt-auto">
        <div class="inner">
          <p>Link del repositorio<a href="https://github.com/DanielNoblero/Entrega-Final.git"> Haz click aqui</a></p>
          <p><a href="{% url 'about' %}">About</a></p>
        </div>
      </footer>      
{% endblock %}
