{% extends "AppRodriguezFinal/base.html" %}
{% load static %}

{% block principal %}
<main role="main" class="inner cover">
        <center><img src="{% static 'AppRodriguez/assets/imagenes/paisaje3.jpg' %}" alt="centered image" height="500" width="900"> </center>
        <h1 class="cover-heading"></h1>
        <p class="lead"></p>
        <p class="lead">
        </p>
    </main>
    <form action="{% url 'receta_search'%}"class="d-flex">
        <input class="text-center" name="criterio" type="search" placeholder="Buscar receta" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form></center>

    {% if receta %}
            <h1>Resultado de busqueda<h1>
            <ul>
            
            {% for recta in recetas %} 
            <li> {{receta.Nombre_de_receta}}</li>
            {% endfor %}

        </ul>


{% endblock %}