{% extends "AppRodriguezFinal/base.html" %}

{% load static %}

{% block principal %}
<main role="main" class="inner cover">
    <center><img src="{% static 'AppRodriguezFinal/assets/imagenes/chef.jpg' %}" alt="centered image" height="400" width="700"> </center>
    <h1 class="cover-heading"></h1>
    <p class="lead"></p>
    <p class="lead">
    </p>
</main>
    <h1>Detalle de la receta</h1>
    <div>
        <ul> 
            {{receta.id}} Nombre de receta: {{receta.Nombre_de_receta}} Author: {{ receta.Autor}} Tiempo: {{ receta.Horas_de_prepracion}} 
        
        
        <p class="lead">{{receta.Preparacion}}</p>
        <p><img  src="{{receta.image_url}}" height="144" width="144"></p>
        <a href="{% url 'receta_update' receta.id %}">Actualizar</a>
        <a href="{% url 'receta_delete' receta.id %}">Borrar</a>
        </ul>
    </div>

{% endblock %}